{% extends './base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="Stylesheet" href="{% static 'css/admin/store/table.css' %}">
{% endblock extra_head %}

{% block content %}
<style>
    .close{
        position: absolute;
        top: 0;
        right: 0;
        border: burlywood 1px solid;
        border-radius: 5px;
        padding: .2em .3em;
    }
    .badge{
        position: absolute;
        top: 0;
        left: 0;
    }

    .cta.badge{
        position: relative !important;
    }

    table{
        width: 100%;
    }

    td {
        padding: .5em;
        background-color: #697077;
        border: 1px solid #4e5554;
        color: whitesmoke;
        text-align: center;
    }

    #go{
        padding: .3em .7em;
        background-color: #697077;
        border: 0;
        border-radius: 4px;
        color: white;
    }

    .input{
        cursor: pointer;
    }

    .w-inherit{
        width: inherit;
    }

    .info {
	height: 400px;
	margin-top: 24vh;
    }
    .description {
	margin-top: 2em;
	color: darkgray;
    }
</style>

<div id="" class="mt-5">
    <div id="actions" class="m-auto border p-2 row">
        <div id="" class="col-12 col-lg-6 d-flex justify-content-around  mb-2 mb-lg-0 ">
            <label for="action" class="">Action:</label>
            <select form="alert-form" id="action" name="_action" class="w-inherit">
                <option selected="true"></option>
                <option name="_action" value="mark_as_read"> Mark selected alerts as read </option>
                <option name="_action" value="delete"> Delete selected alerts </option>
            </select>
            <button form="alert-form" formaction="{% url 'vendor:alert-action' store.slug %}" class="" id="go" type="submit">Go</button>
        </div>

        <div class="col-12 col-lg-6 d-flex justify-content-around">
            <label for="query">Search:</label>
            <input type="search" class="w-inherit" name="query" id="query">
        </div>
    </div>

    <div id="alerts" class="mt-3">
        <form method="POST" novalidate="" id="alert-form">
            {% csrf_token %}
            <table>
                <thead>
                    <td>
                        <input type="checkbox" name="ids" value="{{alerts}}" class="input " id="select-all">
                    </td>
                    <td>
                        <a> Priority </a> 
                    </td>
                    <td class="d-none d-lg-table-cell">
                        <a> From </a> 
                    </td>
                    <td>
                        <a> Message </a> 
                    </td>
                    <td class="d-none d-lg-table-cell">
                        <a> Date / Time </a> 
                    </td>
                </thead>

                <tbody>
                    {% for alert in alerts %}
                    <tr>
                        <td>
                            <input type="checkbox" name="_alert_id" class="input alert_id" value="{{alert.id}}">
                        </td>
                        <td>
                            {{alert.get_priority_display}}
                        </td>
                        <td class="text-left d-none d-lg-table-cell">
                            {{alert.sender}}
                        </td>
                        <td class="text-left">
                            <a>{{alert.subject}}</a>
                        </td>
                        <td class=" d-none d-lg-table-cell">
                            <a>{{alert.date.date}} <!--| {{alert.date.time}}--></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>

{% comment %} {% if alerts %}
<div class="mt-5 row">
    {% for alert in alerts %}
        <div class="alert card col-md-5 pb-3">
            <a href="{% url 'vendor:close-alert' store.name alert.id %}" class="close"> &times; </a>
            <span class="badge red"> {{alert.get_priority_display}} Priority</span>
            <h5 class="alert-title mb-3 mt-3 blue-grey-text"> {{ alert.title }} </h5>
            <p class="h6 text-left"> {{alert.message}} </p>
            <a href="{{ alert.cta_link }}" class="cta btn btn-sm badge green"> {{ alert.cta }} </a>
        </div>
    {% endfor %}
</div>

{% else %}
<div class="text-center m-auto">
    <div class="info ">
        <svg width="6em" height="6em" viewBox="0 0 16 16" class="blue-grey-text bi bi-exclamation-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
        </svg>

        <h4 class="description"> No Alerts Found </h4>
    </div>
</div>

{% endif %} {% endcomment %}

{% endblock content %}

{% block active %}
<script>
  document.getElementById('alerts-link').style.backgroundColor = 'black';
  document.getElementById('page-main').classList.add('container');
  document.querySelector('.container-fluid').classList.remove('container-fluid')
</script>

{% endblock active %}