{% load static %}
{% load tz %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Vendora LLC">
    <title>{{store.name}} | Admin Dashboard </title>

    <meta name="theme-color" content="#563d7c">
    <link rel="Stylesheet" href="{% static 'css/global/bootstrap.min.css' %}">
    <link rel="Stylesheet" href="{% static 'css/store/default/mdb/mdb.min.css' %}">
    <link rel="Stylesheet" href="{% static 'css/store/default/mdb/mdb.lite.css' %}">
    <link rel="Stylesheet" href="{% static 'css/store/default/mdb/datatables.min.css' %}">
    <link rel="Stylesheet" href="{% static 'css/store/default/mdb/animations-extended.min.css' %}">
    <link rel="Stylesheet" href="{% static 'css/admin/store/dashboard.css' %}">
    <link rel="Stylesheet" href="{% static 'css/admin/store/admin.css' %}">
    <link href="{% static 'css/global/styles.css' %}" rel="stylesheet">

    {% block extra_head %}
    {% endblock extra_head %}

  </head>
<body class="text-center">
<nav class="navbar sticky-top bg-dark text-white container mt-4">
    <div class="btn-group">
        <button onclick="toggleNav()" id="nav-toggle" class="navbar-toggler navbar-dark waves-effect waves">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a href="{% url 'store:store-view' store.slug %}" target="_blank" class="white-text  navbar-brand" id="store-name"> {{ store.name }} </a>
    </div>
    <div>
      <button onclick="toggleOptions()" class="chip p-2 text-white">
          {{ user.first_name }} {{ user.last_name }}
      </button>
      <div id="controls">
        <a href="{% url 'vendor:logout' store.slug %}" class="d-block control"> Sign Out </a>
        <a onclick="showSettings()" class="d-block control"> Settings </a>
    </div>
    </div>
</nav>
<script>
  (document.readyState === "complete" ? ()=> {
    document.body.style.visibility = 'visible'
    return true
  }:()=>{
    document.body.style.visibility = 'hidden'
    return false
  })
</script>


  <div id="page">
    <div id="page-nav" class="container sticky-top bg-dark text-white text-center">
      <ul id="nav" class="p-0 pt-3">
        <li class="nav-item" id="dashboard-link"> <a class="nav-link" href="{% url 'vendor:dashboard' store.slug %}"> Dashboard </a> </li>
        <li class="nav-item" id="store-link"> <a class="nav-link" href="{% url 'vendor:store' store.slug %}"> Store </a> </li>
        <li class="nav-item" id="customers-link"> <a class="nav-link" href="{% url 'vendor:customers' store.slug %}"> Customers </a> </li>
        <li class="nav-item" id="integrations-link"> <a class="nav-link" href="{% url 'vendor:integrations' store.slug %}"> Integrations </a> </li>
        <li class="nav-item" id="alerts-link"> <a class="nav-link" href="{% url 'vendor:alerts' store.slug %}"> Alerts </a> </li>
        <li class="nav-item" id="reports-link"> <a class="nav-link" href="{% url 'vendor:reports' store.slug %}"> Reports </a> </li>
      </ul>
    </div>

    <div id="page-main" role="main" class="">
        <main class="container-fluid">
          {% block content %}

          {% endblock content %}
        </main>

        <div id="settings-wrapper" class="settings-wrapper box d-none">
          <iframe src="{% url 'vendor:settings' store.slug %}"></iframe>
          <button onclick="hideSettings()" class="btn btn-sm badge amber white-text"> close </button>
        </div>
    </div>

  </div>
  <script src="{% static 'js/bootstap/bootstrap.js' %}"></script>
  <script src="{% static 'js/mdb/datatables.js' %}"></script>
  <script src="{% static 'js/admin/store/Chart.min.js' %}"></script>
  <script src="{% static 'js/admin/store/feather.min.js' %}"></script>
  <script src="{% static 'js/admin/store/admin.js' %}"></script>
  
    {% block charts %}
    {% endblock charts %}

    {% block active %}
    {% endblock active %}
</body>
</html>
