{% extends './base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="Stylesheet" href="{% static 'css/admin/store/table.css' %}">
{% endblock extra_head %}

{% block content %}
    <style>

    #page-main{
        padding-rigth: 0;
    }

    .card{
        max-width: 250px;
    }

    .name{
        font-size: initial;
    }

    .card:hover{
        box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.16), 0 2px 25px 0 rgba(0, 0, 0, 0.12);
        transition: .5s;
        cursor: pointer;
    }

    .select{
        position: absolute;
        top: 0;
        right: 0;
        width: max-content;
    }
    .select .check{
        vertical-align: bottom;
    }

    .row{
        justify-content: center;
    }
    </style>
{% comment %} 
    <div class=" d-flex justify-content-center">
        <button id="all" type="button" onclick="selectAll()" class=" cta btn badge blue">Select All</button>
        <button id="cta" type="submit" formtarget="window" formaction="{% url 'vendor:export-contacts' store.slug %}" 
            form="contact-form" class=" cta btn badge amber">  Export 
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-earmark-spreadsheet" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M5 10H3V9h10v1h-3v2h3v1h-3v2H9v-2H6v2H5v-2H3v-1h2v-2zm1 0v2h3v-2H6z"/>
                <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
                <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
            </svg>
        </button>

    </div> {% endcomment %}

    <div style="margin-left:-15px" class="mt-5 mb-5">
        <p class="text-muted"> <span id="count">0</span> of {{customers.count}} selected </p>
        <div class="d-inline">
            <div class="col-lg-8">
                <table>
                    <thead>
                        <td>
                            <input type="checkbox" name="_select_all" value={{customers}}>
                        </td>
                        
                        <td>
                            Contact
                        </td>

                        <td>
                            Orders
                        </td>
                    </thead>

                    <tbody>
                        {% for person in customers %}
                            <td>
                                <input type="checkbox" name="_contact" value={{person.email}}>
                            </td>

                            <td class="text-left">
                                <h6> {{ person.first_name }} {{ person.last_name }} </h6>
                                <h6> {{ person.email }} </h6>
                            </td>

                            <td>
                                {{person.cart}}
                            </td>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="d-none d-lg-inline ">
                {% for plugin in plugins %}
                    <h5> {{plugin}} </h5>
                {% endfor %}
            </div>
        </div>

    </div>


{% endblock content %}

{% block active %}
    <script>
        document.getElementById('customers-link').style.backgroundColor = 'black';
        document.getElementById('page-main').classList.add('container');
        let cards = document.querySelectorAll('.card')
        let accounts = Array.from(document.querySelectorAll('.check'))

        function toggleSelect(num){
            let check = document.getElementById(`check${num}`).click()
        }

        function perform(id){
            let card = document.getElementById(`card${id}`)
            let stat = event.target.getAttribute('aria-checked')

            console.log("Status", stat)
            if (stat === 'false'){
                stat = true
                card.classList.add('grey')
                card.classList.add('white-text')
                event.target.setAttribute('aria-checked', `${stat}`)
            }else if (stat === 'true'){
                stat = false
                card.classList.remove('grey')
                card.classList.remove('white-text')
                event.target.setAttribute('aria-checked', `${stat}`)
            }
        }

        function selectAll(){            

            for (var i=0; i < accounts.length; i++){
                if(accounts[i].checked === true){
                    if (cards[i].classList.contains('grey')){

                    } else {
                        cards[i].classList.add('grey')
                        cards[i].classList.add('white-text')
                    }
                } else {
                    accounts[i].click()
                    if (cards[i].classList.contains('grey')){

                    } else {
                        cards[i].classList.add('grey')
                        cards[i].classList.add('white-text')
                    }
                }
                console.log('USER', accounts[i].getAttribute('aria-checked'))
            }
        }
    </script>
{% endblock active %}