{% extends './base.html' %}
{% load static %}

{% block extra_head %}
  <link rel="Stylesheet" href="{% static 'css/admin/store/store.css' %}">
{% endblock extra_head %}

{% block content %}

<!-- Add a new coupon to the store -->
<div class="popup mt-2 d-none" id="addCoupon">
  <form method="post">
    {% csrf_token %}
    <p>** Coupon code will be capitalied **</p>
    <label for="code"> Coupon Code</label>
    <input type="text" name="code" id="code" class="allCaps" placeholder="Coupon Code">
    <label for="worth">Coupon Worth ({{store.currency}}) </label>
    <input type="number" id="worth" name="worth" step="0.01">
    <label for="validity">Expiration Date <br>(leave blank for infinity) </label>
    <input type="date" name="validity" id="validity">
    <input class="cta " type="submit" formaction="{% url 'vendor:add-coupon' store.slug %}" value="Save Coupon">
  </form>
  <button class="amber btn btn-sm badge" onclick="hideCouponAdder()"> Close </button>
</div>
<!-- Coupon -->



<div class="">
  <div class="options btn-group">
    <a href="{% url 'vendor:edit-store' store.slug %}" class="btn  btn-sm badge btn-primary"> Edit Store </a>
    <a href="{% url 'vendor:add-item' store.slug %}" class="btn  btn-sm badge btn-brown"> Add Item </a>
    {% if store.is_open %}
    <button onclick="confirmClose()" class="btn badge  btn-sm btn-amber"> Close Store </button>
    {% else %}
    <a href="{% url 'vendor:open' store.slug %}" class="btn badge btn-sm  btn-success"> Open Store </a>
    {% endif %}
  </div>
  <div id="close-popup" class="popup-wrapper  d-none text-center">
    <div id="popup-close" class="hide confirm-popup bg-dark popover text-center">
      <button class="close" onclick="hideClose()"> <span class="text-white-50"> &times; </span> </button>
      <p class="white-text h6 warning" id="warningClose"> Are you sure you want to close the store? <br>
        It will not be accessible until you open it again. </p>
      <a href="{% url 'vendor:close' store.slug %}" class="btn btn-danger badge btn-sm"> Close Store </a>
      <button class="btn btn-amber badge btn-sm" onclick="hideClose()"> Cancel </button>
    </div>
  </div>

</div>

<h4 id="count" class="badge p-2 red white-text amt text-center"> {{ items.count }} Item{{ items.count|pluralize }} </h4>


<div id="taskbar" class="col-md-6 bg-dark">
  <div class="w-100">
    <input type="search" onkeyup="filter()" placeholder="Type to search..." class="pl-2 form-control rounded-0">
  </div>
  <div class="actions mt-3 ml-1 mr-1">
    <label for="fprice" class="d-block h6">Price</label>
    <input oninput="setPrice()" class="w-100" type="range" multiple="2" 
      id="fprice" step="0.01" min="{{store.min}}" max="{{store.max}}">
    <label for="fprice" id="range" class="d-flex h6">
      <i>{{ store.currency.symbol }} <i id="price">{{ store.min_int }}</i> </i>
      <i>{{ store.currency.symbol }} {{store.max_int}}</i>
    </label>
  </div>
  <div id="quick-options" class="text-center mt-2 mt-lg-5">
    <a onclick="showCouponAdder()" id="cta-coupon" class="option btn btn-md badge"> Add Coupon </a>
  </div>
</div>
<!-- Floating Taskbar -->


<!-- Store Items -->
<div id="items" class="row wow mt-5 p-4 p-lg-0">
{% if items %}
  {% for item in items %}

  <div class="card item m-sm-4 m-md-4 m-lg-2 text-center col-lg-3 pt-3 pb-5 col-md-5 mb-4">
    <h5 class="pt-3 pb-2"> {{ item.name }} </h5>
    <img src={{ item.image.url }} class="item-image pb-2">
    {% if item.quantity > 0 %}
    <span class="badge price text-white bg-dark">
      <h6 class="pt-2">{{ store.currency.symbol }} {{ item.price }} </h6>
    </span>

    <span class="badge bg-primary qty"> &times;{{ item.quantity }}</span>
    {% else %}
    <span class="badge text-white bg-dark h2">
      <h6 class="pt-2"> Sold Out </h6>
    </span>
    {% endif %}


    <div class="btn-group-sm">
      <a class="btn badge bg-warning" href="{% url 'vendor:edit-item' store.slug item.id %}"> Edit </a>
      <button onclick="confirmDelete({{ forloop.counter }})" class="btn bg-danger badge"> Delete </button>
    </div>

    <span class="discount badge blue-grey">
      {% if item.discount_price %}
        {{ store.currency.symbol }} {{ item.discount_price }}<br><br>
      {{ item.discount }} Discount
      {% else %}
      No Discount
      {% endif %}
    </span>

    <!-- Delete Item Popup -->
    <div id="popup-wrapper{{forloop.counter}}" class="popup-wrapper  d-none text-center">
      <div id="confirm-popup{{forloop.counter}}" class="hide confirm-popup delete bg-dark popover text-center">
        <button class="close" onclick="hideConfirmation({{ forloop.counter }})"> <span class="text-white-50"> &times;
          </span> </button>
        <p class="white-text warning" id="warningDelete"> Are you sure you want to delete this item permanently? </p>
        <a href="{% url 'vendor:delete-product' store.slug item.id %}" class="btn btn-danger badge btn-sm"> Delete </a>
        <button class="btn btn-amber badge btn-sm" onclick="hideConfirmation({{ forloop.counter }})"> Cancel </button>
      </div>
    </div>
    <!-- Delete Item Popup -->

  </div>
  {% endfor %}
{% endif %}
</div>
<!-- Store Items-->

{% endblock content %}


{% block active %}
<script>
  document.getElementById('store-link').style.backgroundColor = 'black';
  document.getElementById('page-main').classList.add('container');
  let coupon = document.getElementById('addCoupon');

  function hideCouponAdder(){
    coupon.classList.add('d-none')
  }

  function showCouponAdder(){
    coupon.classList.remove('d-none')
  }

</script>
<script src="{% static 'js/admin/store/store.js' %}">
</script>
{% endblock active %}