{% extends './base.html' %}

{% block content %}

<style>
  #page-main {
    padding: 0;
  }

  .options btn {
    box-shadow: 0;
    font-size: small !important;
  }

  .qty {
    position: absolute;
    top: 0;
    left: 0;
    padding: .75em;
  }

  .discount {
    position: absolute;
    bottom: 0;
    width: inherit;
    left: 0;
    font-size: small;
  }

  #taskbar {
    max-width: 370px;
    margin-top: 2.5em;
  }

  @media (min-width: 1125px) {
    #taskbar {
      position: fixed;
      right: 1em;
      top: 10em;
      padding: 2em 1em;
      color: white;
      text-align: left;
      height: 60%;
      box-shadow: var(--dark) 0px 1px 5px;
      border-radius: 4px;
      margin-top: 2em;
      max-width: max-content;
    }
  }

  .actions {
    color: white;
  }

  #range {
    justify-content: space-between;
  }

  #taskbar-wrapper {
    justify-content: center;
  }

  #taskbar{
    padding: 0;
    border-radius: 7px !important;
  }

  main {
    padding-bottom: 5em;
  }

  @media (min-width: 1125px) {
    #taskbar-wrapper.row {
      display: block;
      -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
      margin: 0;

      position: fixed;
      right: 2.5em;
      top: 10em;
      padding: 2em 1em;
      color: white;
      text-align: left;
      height: 60%;
      box-shadow: var(--dark) 0px 1px 5px;
      border-radius: 4px;
      margin-top: 2em;
      max-width: 300px;
    }
  }

  .amt{
    font-size: inherit;
  }

  #quick-options .option{
    box-shadow: white 0 0 2px;
    transition: .4s;
  }

  #quick-options .option:hover{
    box-shadow: white 0 0 5px;
  }
</style>


<div class="">
  <div class="options btn-group">
    <a href="{% url 'vendor:edit-store' store.name %}" class="btn  btn-sm badge btn-primary"> Edit Store </a>
    <a href="{% url 'vendor:add-item' store.name %}" class="btn  btn-sm badge btn-brown"> Add Item </a>
    {% if store.is_open %}
    <button onclick="confirmClose()" class="btn badge  btn-sm btn-amber"> Close Store </button>
    {% else %}
    <a href="{% url 'vendor:open' store.name %}" class="btn badge btn-sm  btn-success"> Open Store </a>
    {% endif %}
  </div>
  <div id="close-popup" class="popup-wrapper  d-none text-center">
    <div id="popup-close" class="hide confirm-popup bg-dark popover text-center">
      <button class="close" onclick="hideClose()"> <span class="text-white-50"> &times; </span> </button>
      <p class="white-text h6" id="warning"> Are you sure you want to close the store? <br>
        It will not be accessible until you open it again. </p>
      <a href="{% url 'vendor:close' store.name %}" class="btn btn-danger badge btn-sm"> Close Store </a>
      <button class="btn btn-amber badge btn-sm" onclick="hideClose()"> Cancel </button>
    </div>
  </div>

</div>

<h4 id="count" class="badge p-2 red white-text amt text-center"> {{ items.count }} Item{{ items.count|pluralize }} </h4>


<div id="taskbar-wrapper" class="row white-text">
  <div id="taskbar" class="card col-md-6 bg-dark">
    <div class="btn-group">
      <input type="search" onkeyup="filter()" placeholder="Type to search..." class="pl-2 form-control rounded-0">
    </div>
    <div class="actions mt-3 ml-1 mr-1">
      <label for="fprice" class="d-block h6">Price</label>
      <input oninput="setPrice()" class="w-100" type="range" multiple="2" 
        id="fprice" step="0.01" min="{{store.min}}" max="{{store.max}}">
      <label for="fprice" id="range" class="d-flex h6">
        <i>{{ store.currency.symbol }} <i id="price">{{ store.min_int }}</i> </i>
        <i>{{ store.currency.symbol }} {{store.max_int}}</i>
      </label>
    </div>
    <div id="quick-options" class="text-center mt-2 mt-lg-5">
      <a onclick="showCouponAdder()" class="option btn btn-md badge blue-grey"> Add Coupon </a>
    </div>

  </div>
</div>


<div id="items" class="row wow mt-5 p-4 p-lg-0">
{% if items %}
  {% for item in items %}

  <div class="card item m-sm-4 m-md-4 m-lg-2 text-center col-lg-3 pt-3 pb-5 col-md-5 mb-4">
    <h5 class="pt-3 pb-2"> {{ item.name }} </h5>
    <img src={{ item.image.url }} class="item-image pb-2">
    {% if item.quantity > 0 %}
    <span class="badge price text-white bg-dark">
      <h6 class="pt-2">{{ store.currency.symbol }} {{ item.price }} </h6>
    </span>

    <span class="badge bg-primary qty"> &times;{{ item.quantity }}</span>
    {% else %}
    <span class="badge text-white bg-dark h2">
      <h6 class="pt-2"> Sold Out </h6>
    </span>
    {% endif %}
    <div class="btn-group-sm">
      <a class="btn badge bg-warning"> Edit </a>
      <button onclick="confirmDelete({{ forloop.counter }})" class="btn bg-danger badge"> Delete </button>
    </div>
    <span class="discount badge blue-grey">
      {% if item.discount_price %}
        {{ store.currency.symbol }} {{ item.discount_price }}<br><br>
      {{ item.discount }} Discount
      {% else %}
      No Discount
      {% endif %}
    </span>
    <div id="popup-wrapper{{forloop.counter}}" class="popup-wrapper  d-none text-center">
      <div id="confirm-popup{{forloop.counter}}" class="hide confirm-popup delete bg-dark popover text-center">
        <button class="close" onclick="hideConfirmation({{ forloop.counter }})"> <span class="text-white-50"> &times;
          </span> </button>
        <p class="white-text" id="warning"> Are you sure you want to delete this item permanently? </p>
        <a href="{% url 'vendor:delete-product' store.name item.id %}" class="btn btn-danger badge btn-sm"> Delete </a>
        <button class="btn btn-amber badge btn-sm" onclick="hideConfirmation({{ forloop.counter }})"> Cancel </button>
      </div>
    </div>
  </div>
  {% endfor %}
{% endif %}
</div>


{% endblock content %}


{% block active %}
<script>
  document.getElementById('store-link').style.backgroundColor = 'black';
  document.getElementById('page-main').classList.add('container');

  function confirmDelete(num) {
    document.getElementById(`popup-wrapper${num}`).classList.remove('d-none')
  }

  function hideConfirmation(num) {
    popup = document.getElementById(`popup-wrapper${num}`)
    popup.classList.add('d-none')
  }

  function confirmClose() {
    popup = document.getElementById('close-popup')
    popup.classList.remove('d-none')
  }

  function hideClose() {
    popup = document.getElementById('close-popup')
    popup.classList.add('d-none')
  }

  function setPrice() {
    let value = event.target.value
    let price = document.getElementById('price')
    price.innerText = `${value}`
  }

  function filter() {
    let count = []
    let item_count = document.getElementById('count')
    let items = Array.from(document.querySelectorAll('.item'))
    let query = event.target.value
    console.log(query)
    for (var i = 0; i < items.length; i++) {
      items[i].classList.add('d-none')
      if (items[i].firstElementChild.innerText.toLowerCase().search(query.toLowerCase()) >= 0) {
        items[i].classList.remove('d-none')
        count.push(items[i])
      }
    }
    let length = count.length
    if(length === 1){
      item_count.innerText = `${length.toString()} Item`
    } else{
      item_count.innerText = `${length.toString()} Items`
    }
  }

</script>
{% endblock active %}