{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{store.name}} | {{title}} </title>
  <link href="{% static 'css/store/default/bootstrap/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/store/default/mdb/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/store/default/mdb/style.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/global/scrollbar.css' %}" rel="stylesheet">
  {% block extra_head %}
    <link href="{% static 'css/store/default/mine/styles.css' %}" rel="stylesheet">
  {% endblock extra_head %}


  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

    @media (min-width: 800px) and (max-width: 850px) {
      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }

  </style>
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'store:store-view' store.name %}">
        <strong class="blue-text">{{ store.name }}</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'store:store-view' store.name %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <!-- /Left-->

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          {% if user.has_usable_password %}
          {% else %}
            <li class="nav-item mr-3 amber">
            <a href="{% url 'accounts:store-login' store.name %}" class="nav-link waves-effect white-text">
              <span class="clearfix d-sm-inline-block"> Sign up </span>
            </a>
          </li>
            <li class="nav-item mr-3 blue-grey">
            <a href="{% url 'accounts:store-login' store.name %}" class="nav-link waves-effect white-text">
              <span class="clearfix d-sm-inline-block"> Login </span>
            </a>
          </li>
          {% endif %}
          
          <li class="nav-item">
            <a class="nav-link waves-effect" 
              {% if store.has_products %}
                href="{% url 'store:cart-view' store.name %}"
              {% endif %}
            >
              <span class="badge red badge-pill z-depth-1 mr-1">
                {{ cart.count }}
              </span>
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-sm-inline-block"> Cart </span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link waves-effect" 
              {% if store.has_products %}
                href="{% url 'store:wish-view' store.name %}"
              {% endif %}
            >
              <i class="fas fa-shopping-cart"></i>
              <span class="clearfix d-sm-inline-block"> Wishlist </span>
            </a>
          </li>

          {% if store.platforms.all > 0 %}
            {% for platform in store.platforms.all %}
              <li class="nav-item">
                <a href="{{ platform.link }}" class="nav-link waves-effect" target="_blank">
                  <i class="fab fa-{{ platform.type|lower }}-f"></i>
                </a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        <!-- /Right -->
      </div>
      <!-- /Links -->
    </div>

  </nav>
  <!-- Navbar -->

{% block content %}

{% endblock content %}


  <!--Footer-->
  <footer id="page-footer" class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
      <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank"
        role="button">Download MDB
        <i class="fas fa-download ml-2"></i>
      </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="{% url 'store:store-view' store.name %}" target="_blank"> {{store.name}}.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/mdb/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb/mdb.js' %}"></script>
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>

</body>

</html>
