{% load static %}

<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{store.name}} | {{title}} </title>
  <link href="{% static 'css/store/default/bootstrap/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/store/default/mdb/mdb.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/store/default/mdb/style.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/global/scrollbar.css' %}" rel="stylesheet">
  <link href="{% static 'css/store/default/mine/styles.css' %}" rel="stylesheet">
  {% block extra_head %}
  {% endblock extra_head %}
  <link href="/uploads{{store.custom_css}}" rel="Stylesheet">


  <style type="text/css">
    html,
    body,
    header,
    .carousel {
      height: 60vh;
    }

    @media (max-width: 740px) {

      html,
      body,
      header,
      .carousel {
        height: 100vh;
      }
    }
  </style>
</head>

<body>

{% if messages %}
{% for msg in messages %}
<div class="absolute-center z-depth-5 d-flex">
 <p> {{msg}} </p> 
 <button class="close absolute top-right">&times;</button>
</div>
{% endfor %}
{% endif %}

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <a class="navbar-brand waves-effect" href="{% url 'store:store-view' store.name %}">
        <strong class="blue-text">{{ store.name }}</strong>
      </a>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link waves-effect" href="{% url 'store:store-view' store.name %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
        </ul>
        <!-- /Left-->

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons mt-sm-2">
          {% if user.has_usable_password %}
          {% else %}
            <li class="nav-item mr-3 amber">
            <a href="{% url 'accounts:store-signup' store.name %}" class="nav-link waves-effect white-text">
              <span class="clearfix d-sm-inline-block"> Sign up </span>
            </a>
          </li>
            <li class="nav-item mr-3 blue-grey">
            <a href="{% url 'accounts:store-login' store.name %}" class="nav-link waves-effect white-text">
              <span class="clearfix d-sm-inline-block"> Login </span>
            </a>
          </li>
          {% endif %}
          
          <li class="nav-item mr-3">
            <a class="nav-link waves-effect cart" 
              {% if store.has_products %}
                href="{% url 'store:cart-view' store.name %}"
              {% endif %}>
              <span class="badge red badge-pill z-depth-1 mr-1 count">
                {{ cart.count }}
              </span>
              <i class="fas fa-shopping-cart">
                <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="blue-text bi bi-cart4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
                </svg>
              </i>
            </a>
          </li>

          <li class="nav-item ml-3">
            <a class="nav-link waves-effect wish" 
              {% if store.has_products %}
                href="{% url 'store:wish-view' store.name %}"
              {% endif %}>
              <span class="badge red badge-pill z-depth-1 mr-1 count">
                {{ wish.count }}
              </span>
              <i class="">
                <svg width="1.3em" height="1.3em" viewBox="0 0 16 16" class="blue-text bi bi-heart-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                </svg>
              </i>
            </a>
          </li>

          {% if store.platforms.all > 0 %}
            {% for platform in store.platforms.all %}
              <li class="nav-item">
                <a href="{{ platform.link }}" class="nav-link waves-effect" target="_blank">
                  <i class="fab fa-{{ platform.type|lower }}-f"></i>
                </a>
              </li>
            {% endfor %}
          {% endif %}
        </ul>
        <!-- /Right -->
      </div>
      <!-- /Links -->
    </div>

  </nav>
  <!-- Navbar -->

{% block content %}

{% endblock content %}


  <!--Footer-->
  <footer id="page-footer" class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    {% if store.platforms %}
      <div class="pt-4">
        {% for platform in store.platforms.all%}
          <a class="btn btn-outline-white" href="{{ platform.link }}" target="_blank" role="button">
            <i class="fas fa-download ml-2">{{ platform.type }}</i>
          </a>
        {% endfor %}
      </div>
      <!--/.Call to action-->

    {% endif %}

    <!--Copyright-->
    <div class="footer-copyright py-3">
      © 2019 Copyright:
      <a href="{% url 'store:store-view' store.name %}" target="_blank"> {{store.name}}.com </a>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script type="text/javascript" src="{% static 'js/mdb/jquery-3.4.1.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap/bootstrap.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/mdb/mdb.js' %}"></script>
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
    let msg = document.querySelector('.msg')

    function hideMsg(){
      msg.style.display = 'none';
    }
  </script>

    
   {% block foot_script %}
   {% endblock foot_script %}

</body>

</html>
