{% extends 'default/base.html' %}
{% load static %}

{% block content %}

  <style>

    #cta-addToCart{
      padding: .3em .5em !important;
    }

  </style>

  <!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">

      <!--Grid row-->
      <div class="row wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src={{ item.image.url }} class="img-fluid" alt="">
          <h5 class="text-muted mt-3 text-center"> {{ item.name }} </h5>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{ item.category.name }}</span>
              </a>

              {% if not item.quantity <= 0 %}
                {% for tag in item.tags.all %}
                  <a href="">
                    <span class="badge blue mr-1">{{ tag }}</span>
                  </a>
                {% endfor %}
              {% else %}
                <span class="badge bg-dark mr-1">Sold Out</span>
              {% endif %}
                            
            </div>

            <p class="lead">
            {% if item.discount_price %}
              <span class="mr-1">
                <del> {{ store.currency.symbol }} {{ item.price }} </del>
              </span>
              <span> {{ store.currency.symbol }} {{ item.discount_price }} </span>
            {% else %}
              <span> {{ store.currency.symbol }} {{ item.price }} </span>
            {% endif %}
              
            </p>

            <p class="text-center"> <h5> Sizes </h5>

              {% if item.sizes.all.count > 0 %}
                <span class="row">
                  {% for size in item.sizes.all %}
                  {% comment %} <option name="size"> {% endcomment %}
                    <span class="m-1 size p-3">
                      <input type="radio" value="{{ size.option }}">{{ size.option }}
                    </span>
                  {% comment %} </option> {% endcomment %}
                  {% endfor %}
                </span>
              {% else %}
                No size variant on this item.
              {% endif %}

            </p>

            <p class="text-center"> <h5> In stock </h5> 
             &times; {{ item.quantity }}
            </p>

            <form class="d-flex justify-content-left" method="POST">
            {% csrf_token %}
              <!-- Default input -->
              <input type="number" value="1" aria-label="Search" name="quantity" class="form-control" style="width: 100px">
              <button formaction="{% url 'store:add-to-cart' store.slug item.id %}" id="cta-addToCart"
              class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>
            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">

        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Item information</h4>

          <p>{% if item.description %}
                {{ item.description }}
              {% else %}
                No Description Available On This Item.
              {% endif %}</p>

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="row wow fadeIn text-center mt-5 just-center" id="relatedItems">
        
        {% for rel_item in other_items %}
          <!--Grid column-->
          <div class="col-lg-4 col-md-5 col-sm-8 mb-4">
            <div class="card text-center">
              <div class="view">
                <img src={{ rel_item.image.url }} class="img-fluid" alt="">
              </div>
              <h5 class="text-muted"> {{ item.category }} </h5>
              <h5 class=""> {{ item.name }} </h5>
              <h4 class="blue-text">{{ store.currency.symbol }} {% if item.discount_price %} {{ item.discount_price }}
              {% else %} {{ item.price }} {% endif %}</h4>
            </div>
          </div>
          <!--Grid column-->
        {% endfor %}

      </div>
      <!--Grid row-->

    </div>
  </main>
  <!--Main layout-->

{% endblock content %}
