.t-col{
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: .4em .2rem;
}


thead *{
    background-color: black !important;
    font-weight: bold !important;
}

.t-caption {
	background: black;
	color: white;
	padding: .7em 0;
    font-size: 13pt;
    border: 2px solid salmon;
    border-bottom: 0;
    caption-side: top !important;
    text-align: center;
}

.prod-list {
    padding: 0;
    margin: 0;
    max-height: 2.5em;
	overflow-y: scroll;
}

.prod-list::marker{
    display: block;
    background-color: black;
}

.prod-list *{
    color: aliceblue;
}

.prod-list-item{
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}

.prod-list-item:not(:last-child){
    border-bottom: 1px solid whitesmoke;
}

@media(max-width:590px){
    .qty{
        display: none;
    }
}

table{
    width: 100%;
}

td {
    padding: .5em;
    background-color: #697077;
    border: 1px solid #4e5554;
    color: whitesmoke;
    text-align: center;
}
